.center {
    text-align: center;
}



th, td {
    padding: 20px 20px;
    
  }

  .a {
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    
  }


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 32px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  
}



